@charset "UTF-8";
main{
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Serif JP', serif;
    max-width: 100%;
    height:4421.51;
    width: 1366px;
    
    
}
.menu-btn{
    display: none;
}
.logo{
    margin-top: 24px;
    margin-left: 24px;
}
.menu{
margin-left: 289px;
padding-top: 30px;
display: flex;
}
header{
  display: flex;
}


    
li{
    
    font-size:16px;
    padding-left: 40px;
}
.hero{
    width:1366px;
    margin-top: 32.43px;
}

h2{
    text-align: center;
    margin-top: 160px;
    font-size:42px;
}
.catch{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:24px;
    font-size:16px;
  
}
.catch:before,.catch:after{
    border-top: 1px solid;
    content:"";
    width:3em;
    color:#223e69;
}
.catch:before{
    margin-right: 1em;

}
.catch:after{
    margin-left: 1em;
}
.sub{
    text-align: center;
    margin-top: 48px;
    font-size:20px;
}
.line1{
    margin-top:24px;
    text-align: center;
    display: block;

}
.line2{
    text-align: left;
    display: inline-block;
    line-height: 150%;
}
.contain{
    display: flex;
    justify-content: space-evenly;
}
.subtitle{
    text-align: center;
    font-size: 20px;
    margin-top: 16px;
}
.mainetext{
    margin-top: 20px;
}
.catch1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:24px;
    color: #b71b26;
}
.catch1:before,.catch1:after{
    border-top: 1px solid;
    content:"";
    width:3em;
    color:#b71b26;
}
.catch1:before{
    margin-right: 1em;

}
.catch1:after{
    margin-left: 1em;
}
.list2_triangle{
    padding: 0;
    list-style-type: disc;
    list-style:none ;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
}


.kl,.mn,.op,.qr,.st,.uv {
    font-size: 18px;
    font-weight: bold;
    float: left;
    writing-mode: tb-rl;
    writing-mode: vertical-rl; 
    -moz-writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    font-size: 20px;
    border:3px solid black;
    border-radius: 40px;
    padding: 97px 16px 97px 16px;
    text-align: center;
    background-color: black;
    color: #ffffff;
 }
 .kl{
    margin-left: 223px;
 }
 .uv{
    margin-right: 223px;
 }
 .bass{
    margin-left: 173px;
    margin-right:60px ;
 }
 .living{
    margin-right: 60px;
 }
 .ckichin{
    margin-right: 173px;
 }
    .triangle{
        width: 0;
        height: 0px;
        border-left: 30px solid #b71b26;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        align-items: center;
        align-self: center;
      
     }
 .question2{
    background: black;
  border-radius: 50%;
  width: 80px;
  color: #ffffff;
  padding: 3px 7px 3px 7px;
  font-size: 34px;
 }


 .question{

    font-size: 24px;
    vertical-align: middle;
    padding-left: 8px;
 }
 .answer{
    margin-top: 16px;
    margin-left: 80px;
    font-size:25px;
    
    
 }
 .answer2{
    border-radius: 50%;
    background-color: #b71b26;
    color: #ffffff;
    padding: 3px 7px 3px 7px;
    font-size: 34px;

    
    
    
}
.question3{
    margin-top: 48px;
    margin-left: 80px;
    font-size: 25px;
}
.answer4{
   font-size: 20px;
   margin-left: 225px;


}
.contain2{
    width: 1366px;
    height:1218px;
    background-color:#90bcff;
    
}
.num{
    padding-top: 48px;
}
.contain3{
    width: 1020px;
    height: 1000px;
    margin-left: 173px;
    margin-right: 173px;
    background-color:#c8deff;

}
.li{
    border: 0.1px solid black;
    background-color: #ffffff;
    margin-left: 10px;
    width: 332px;
    height: 52px;
    border:none;
    background-image: linear-gradient(90deg, rgba(253, 219, 146, 1), rgba(209, 253, 254, 1));
    box-shadow: 0 0 5px 0 rgba(255,153,0,1);
}
.ask{
    padding-top: 48px;
    margin-left: 80px;
    margin-right: 442px;
    font-size: 20px;
}
.na{
   margin-top: 30px;
   margin-left: 190px;
   font-size: 20px;
}
.huri{
    padding-top: 30px;
   margin-left: 168px;
   font-size: 20px;
}
.dennwa{
    padding-top: 30px;
   margin-left: 168px;
    font-size: 20px;
}
.lc{
    border: 0.1px solid black;
    background-color: #ffffff;
    margin-left: 4px;
    width: 222px;
    height: 52px;
    border: none;
}
.jyuu{
    padding-top: 30px;
    margin-left: 212px;
    font-size: 20px;
}
.lb{
    border: 0.1px solid black;
    background-color: #ffffff;
    width: 664px;
    height: 52px;
    margin-top: 24px;
    margin-left: 315px;
    border:none;
}
.lo{
    border: 0.1px solid black;
    background-color: #ffffff;
    margin-left: 26px;
    width: 664px;
    height: 52px;
    border:none;

}
.mail{
    padding-top: 30px;
    margin-left: 102px;
    font-size:20px;
}
.lu{
    border: 0.1px solid black;
    background-color: #ffffff;
    margin-left: 26px;
    width: 664px;
    height: 52px;
    border:none;

}
.kmail{
    padding-top: 30px;
    margin-left: 30px;
    font-size: 20px;
}  
.ready{
    font-size: 16px;
   border:1px solid #b71b26;
    color:#ffffff;
    background-color: #b71b26;
    border-radius: 20%;
    margin-left: 8px;
}
.oto{
    margin-left: 80px;
    padding-top: 30px;
    display: flex;
    font-size: 20px;
}
.ly{
    border: 0.1px solid black;
    background-color: #ffffff;
    margin-left: 70px;
    width:664px;
    height: 208px;
    border:none;
    
}
.btn{
    padding-top: 48px;
    text-align: center;
}
.gy{
    border: 0.1px solid black;
    background-color: #ffffff;
    width: 300px;
    height: 68px;
    background-color: #333333;
    color:#ffffff;
}
.foo{
    text-align: center;
    margin-top: 219px;
    background-color: #333333;
    color: #ffffff;
    height: 70px;
    padding-top: 30px;
}
#page_top{
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
    background: #ef3f98;
    opacity: 0.6;
    border-radius: 50%;
    float: right;
    margin-top:170px;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f106';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  .question{
    margin-left: 173px;
    margin-right: 173px;
    font-size: 20px;
}
.answer{
    margin-left: 173px;
    margin-right: 173px;
    font-size: 20px;
}
.question3{
    margin-left: 173px;
    margin-right: 173px;
    font-size: 20px; 
}
.answer3{
    margin-left: 210px;
    font-size: 20px; 
}
.nya1{
  margin-left: 12px;
}
.nya2{
    margin-left: 40px;
}
.youu{
    margin-left: 12px;
}
.ano::after{
content: "▸";
}
.aco{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background: #333;
    padding-right: 4px;
    padding-left: 3px;
    border-radius: 6px;
    transition: .3s;
    margin-left: 220px;
    margin-top: 16px;
    text-align: center;
}
.aco:hover {
    background: #13c3ac;
  }
  .smg{
    display: none;
  }
  .sma{
    display: block;
  }
  .shot{
    display: none;
  }
  .asa{
    display: block;
  }
  .ti{
    display: block;
  }
  .tg{
    display: none;
  }
  .jk{
    display: block;
  }
  .gn{
    display: none;
  }

  


  @media screen and (max-width:768px) {
    .jk{
      display: none;
    }
    .gn{
      display: block;
    }
    .gMenu{
      max-width: 351px;
    }
    
    .gMenu {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 99;
      }
      .gMenu .menu-icon {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 12px;
        padding-top: 5px;
        height: 12px;
      }
      .gMenu .menu-icon .navicon {
        background: #ffc107; /* 色は自由に変更可能です */
        display: block;
        height: 2px; /* 太さ */
        width: 31px; /* 長さ */
        position: relative;
        transition: background .4s ease-out; /* 形が変わる時のアニメーション */
      }
      .gMenu .menu-icon .navicon::before,
.gMenu .menu-icon .navicon::after {
  background: #ffc107; /* 色は自由に変更可能です */
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out; /* 形が変わる時のアニメーション */
  width: 100%;
}
.gMenu .menu-icon .navicon::before {top: 10px;} /* 位置を上にずらしています */
.gMenu .menu-icon .navicon::after {top: -10px;} /* 位置を下にずらしています */
.gMenu .menu {
    background-color: rgba(255,255,255,0.9);
    overflow: hidden;
    max-height: 0; /* ★最初は高さを0にして非表示状態に */
    transition: max-height .6s; /* 表示されるときのアニメーション */
    text-align: center;
  }
  .gMenu .menu li:first-of-type {
    padding-top: 50px;
  }
  .gMenu .menu li a {
    display: block;
    padding: 24px 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .gMenu .menu li a:hover {
    background-color: #f4f4f4;
  }
  .gMenu .menu-btn {
    display: none;
  }
  .gMenu .menu-btn:checked ~ .menu {
    max-height: 338px; /* ★チェックボックスがオンの時高さを338pxにして表示させます */
    transition: max-height .6s;
  }
  .gMenu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}

/* メニューボタンの上下の線を45度傾けて✕印を作ります */
.gMenu .menu-btn:checked ~ .menu-icon .navicon::before {transform: rotate(-45deg);top: 0;}
.gMenu .menu-btn:checked ~ .menu-icon .navicon::after {transform: rotate(45deg);top: 0;}
.gMenu{
    width:31px ;
}
    .sma{
      display: none;
    }
    .smg{
      display: block;
    }
    .ti{
        display: none;
    }
    .tg{
        display: block;
    }
    .logo{
        margin-top: 16px;
        margin-left: 12px;
        width:240px;
        height: 19.71px;
    }
    .th{
        display: none;
    }
      
      .contain,.ak{
        display: block;
      }  
      
      .contain2{
       max-width:375px;
       height: 912px;
  
        

      }
      .hero{
        width:375px;
        height:480px;
        object-fit: cover;
      }
   h2{
    font-size: 28px;
   }
   .sub{
    margin-top: 19px;
   }
   .line2{
    margin-top: 16px;
    font-size: 14px;
    margin-left: 12px;
    margin-right:12px;
   }
   .bass{
    margin-left: 12px;
    margin-top: 24px;
   }
   .subtitle{
    font-size: 20px;
    margin-left: 40px;
   }
   .mainetext{
    width: 375px;
    font-size: 14px;
    margin-top:8px;
    text-align: left;
   }
 .bass1{
  width: 351px;
  height: 246.29px;
 }
 .line1{
  width: 375px;

 }
 .line2{
  font-size: 14px;
    width: 351px;
    margin:0px 12px 0px 12px;

 }
 .asa{
  display: none;
 }
 .shot{
  display: block;
 }
 .contain3{
   margin-left: 0%;
   width: 375px;
   background-color: transparent;
   
 
   
   
 }
 .huri{
    width: 375px;
    margin-left: 0%;
    font-size: 16px;
 }
 .li{
    width:351px;
    height:30px;
 }
 .jyuu{
    width: 375px;
    margin-left: 0%;
    font-size: 16px;
 }
 .lb{
    width: 351px;
    height:30px ;
    margin-left: 0%;
 }
 .mail{
    width: 375px;
    margin-left: 0%;
    font-size: 16px;
 }
 .kmail{
    width: 375px;
    margin-left: 0%;
    font-size: 16px;
 }
 .oto{
    width: 375px;
    margin-left: 0%;
    display: block;
    font-size: 16px;
 }
 .lo{
    width: 351px;
    height:30px ;
    margin-left: 0%;
 }
 .lu{
    width: 351px;
    height:30px ;
    margin-left: 0%;
 }
 .ly{
    width: 351px;
    height:120px;
    margin-left: 0%;
 }
 .ready{
    font-size: 10px;
 }
 .na{
    width: 375px;
    margin-left: 0%;
    font-size: 16px;
 }
 .dennwa{
    width: 375px;
    margin-left: 0%;
    font-size: 16px;
 }

 .gy{
    width: 200px;
    height:48px
 }
 .list2_triangle{
  flex-direction: column;
  display:flex;
  margin-left: 37px;
  margin-right: 37.5px;
}

 .kl,.mn,.op,.qr,.st,.uv {
  font-weight: bold;
  float: left;
  writing-mode: tb-rl;
  writing-mode: vertical-rl; 
  -moz-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  font-size: 20px;
  border:3px solid black;
  border-radius: 36px;
  padding: 1px 20px 4px 20px;
  text-align: center;
  background-color: black;
  color: #ffffff;
  writing-mode: horizontal-tb;
}
.kl{
  font-size: 14px;
  margin-left: 0px;
  }
.mn{
  font-size: 14px;
}
.op{
  font-size: 14px;
}
.qr{
  font-size: 14px;
}
.st{
  font-size: 14px;
}
.uv{
 
  font-size: 14px;
  width:300px;
  
}
.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    border-top: 29px solid #f70707;
    border-bottom: 0;
    margin-top: 8px;
    margin-bottom: 8px;
  } 
.living1{
    width: 351px;
    height: 246.29px;
}
.living{
    margin-left: 12px;
    margin-top: 24px;
}
.mainetext{
    font-size: 14px;
}
.ckichin{
    margin-left: 12px;
    margin-top: 24px;
}
.ckichin1{
    width: 351px;
    height: 246.29px;
}
.question{
    font-size: 16px;
    margin-left: 0px;
    width: 351px;
    letter-spacing: 0.1em;
   
}

.question2{
    font-size: 20px;
    width: 375px;
}
.answer2{
    font-size: 20px;
    width: 375px;
}
.question3{
margin-left: 0%;
font-size: 16px;
width: 375px;
}
.answer{
    margin-left: 0%;
    font-size: 14px;
}
.question{
    font-size: 14px;
}
.foo{
    max-width: 375px;
    height: 45px;
}
.answer4{
    margin-left: 0px;
    width:351px;
    font-size: 14px;
}
.nya1{
    writing-mode: horizontal-tb;
}
.ask{
  font-size: 14px;
 display: inline-block;
 width: 375px;
 margin-left: 0%;
 margin-right: 0%;
 padding-top: 5px;
}
.num{
  margin-top: 50px;
  padding-top: 10px;
}
h2{
  margin-top: 20px;
}
.foo{
  margin-top: 100px;
  padding-top: 15px;
}
#page_top{
  margin-top:50px;
}
.btn{
padding-top: 20px;
}







   



}


 

 
  

  
 

  

   
   

      

